
#main {
    background-color: #184E77;
    color: antiquewhite;
}


.manu-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #1E6091;
}

.link {
    margin: 30px;
    font-size: larger;
    color: antiquewhite;
}