
#main {
    background-image: linear-gradient(to bottom, #03045E, #00B4D8) ;
    /* background-color: #023E8A; */
    color: antiquewhite;
}


.manu-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: #03045E; */
    background-image: linear-gradient(to right, #023E8A, #90E0EF);
    font-size: 2em;
    border-radius: 30px;
    border: solid;
    border-color: #90E0EF;
}

.link {
    margin: 30px;
    font-size: larger;
    color: antiquewhite;
}

